.content {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  h1 {
    color: white;
  }
}
.container_home {
  width: 80vw;
  display: grid;
  padding: 4px;
  grid: "link form" 1fr/1fr 1fr;
  background-color: white;
  padding: 60px;

  @media screen and (width <= 768px) {
    display: flex;
    flex-direction: column-reverse;
  }

  .content_link {
    grid-area: link;
  }

  .content_form {
    grid-area: form;
  }
}
